# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorar arquivos e pastas do IntelliJ
.idea/
*.iml

# Ignorar pasta de compilação
/out/

# Ignorar arquivos compilados
*.class

